
header {
    position: fixed; /* header 전체의 위치를 고정*/
    z-index: 3;
    width: 100%;
    padding: 1rem 2rem;
}

header .rel{
    display: flex; 
    /*header에 속해있는 .rel(부모)에게 flex부여.*/
    justify-content: space-between;
     /*화면 양끝에 내용 배치*/
 align-items: center;

}

header h1{
    font-size:2rem;
    font-style: normal;
    color: white;
}

.header_btn{      
    width: 2.4rem;
    height:1.4rem;
    position: relative;
      /*.header_btn에 position을 relative부여하여 위치를 바꾸는데 용이하게 설정.*/
}

.header_btn span{ /*햄버거 메뉴를 만들기위한 코드*/
    content: "";
    display: block;
    height: .3rem;
    width: 100%;
    background-color: white;
    position: absolute;
    transition: all .3s ease-in-out;

}

.header_btn span:nth-child(1){
    top: 0;
}
.header_btn span:nth-child(2){
top: .8rem;
}
.header_btn span:nth-child(3){
top: 1.6rem;
}

.nav_list{
    display: flex;
    position: absolute;
    right: -100%;
    /*이후에 animation을 적용할때를위해 보이지않게 이동시킴*/
    top: 6rem;
    gap: 2rem;
    flex-direction: column; 
    /*.nav_list에 flex를 부여해야 flex-direction으로 colum,row를 부여할수있음*/
    transition: right .3s;
}

.nav_list a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    color: white;
    background-color: gainsboro;
    border-radius: 50%;
    transition: all .3s;
}

header.navOpen .nav_list{
 right: 0%;
} /*toggle을 활용하여 햄버거 메뉴를 클릭했을떄 nav_list가 출력되게 설정.*/


header.navOpen .header_btn span:nth-child(1){
    transform: rotate(90deg);
    top: .6rem;
}
header.navOpen .header_btn span:nth-child(2){
    transform: translate3d(100%);
    opacity: 0;
}
header.navOpen .header_btn span:nth-child(3){
    transform: rotate(180deg);
    top: .6rem;
}



.dep1{
   height: 100vh;
   background: url(../img/bg.png) no-repeat center/cover;
padding-bottom: 5rem;
}

.dep1 .rel{
    display: flex;
    /*dep1 .rel을 flex지정하여 가운데 정렬하기위함*/
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.dep1 .tit_wrap{
    color: white;
}



.spin_ico{
    width: 5rem;
    display: inline-block;
    animation: spin_ico 1s infinite alternate;
}



@keyframes spin_ico{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.fixedTop{
    position: fixed;
    width: 5rem;
    height: 5rem;
    background-color: rgba(0, 139, 139, 0.70);
    z-index: 3;
    right: 2rem;
    bottom: 2rem;
    opacity: 0;
    transform: translateY(100%);
    transition: all .3s;
    cursor: pointer;
    border-radius: 50%;
   
}

header.scroll {
    background-color: rgba(0, 139, 139, 0.70);
}

header.scroll .fixedTop {
    opacity: 1;
    transform: translateY(0);
}

header.scroll.navOpen .nav_list a{
    background-color: rgba(0, 139, 139, 0.70);
}
.dep2 .img_wrap{
    max-width: 80rem;
    min-width: 30rem;
   
    height: 41rem;
    border-radius: 2rem;
    background: url(../img/dep2bg.png) no-repeat left center/110%;
}

.dep3::before{
    display: block;
    content: "";
    width: 100%;
    height: 25rem;
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: rgba(0, 255, 170, 0.555);
}



.dep3 .img_wrap{
    max-width: 60rem;
    min-width: 30rem;
    
    height: 30rem;
    border-radius: 2rem;
    background: url(../img/pukuok.png) no-repeat center/110%;
}

.dep4{
    text-align: center;
}

.dep4 h1{
    position: relative;
  
}


.dep4 h1:before{
    display: block;
    content: "";
    width: 5.5rem;
    height: .1rem;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
}

.dep4 h1::after{
    
    display: block;
    content: "";
    width: 5.5rem;
    height: .1rem;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(135deg);
}

.dep4 h1 span{
    display: block;
}

.dep4 h1 span:nth-child(1){  /* span을 이용한 장식만들기*/
    transform: translateX(-3rem);
}
.dep4 h1 span:nth-child(2){
    transform: translateX(1rem);
}

.dep4_list{
    margin-top: 7.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.dep4_list li{
    width: calc(50% - 1rem);
    min-height: 15rem;
    max-width: 15rem;
}

.dep4_list li a{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color:  rgba(0, 139, 139, 0.70);
    text-transform: uppercase;
    color: black;
    font-size: 1.6rem;
}

.dep5 .img_wrap{
    height: 27.5rem;
    max-width: 36rem;
    margin: 8rem auto 0;
}

.dep5 .img_wrap .deco1{
    background-image: url(../img/depth5_deco1.png);
}

.dep5 .img_wrap .deco2{
    background-image: url(../img/depth5_deco2.png);
}
.dep5 .img_wrap .deco3{
    background-image: url(../img/depth5_deco3.png);
}


.dep5 .tit_wrap h1 span{
    display: block;
    font-size: 2.9rem;
    margin-top: 1rem;
}

/* 6 */
.dep6 {
overflow: hidden;
    text-align: center;
}

.dep6::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2.7rem;
    background-color: #f1f1f1;
    top: calc(50% - 1rem);
    left: 0;
}

.dep6 h1 {
    position: relative;
    display: inline-block;
    padding: 0 3rem;
}


.dep6 h1 span {
    display: block;
}

.dep6 h1 span:nth-child(1) {
    transform: translateX(-5rem);
}

.dep6 h1 span:nth-child(2) {
    transform: translateX(1rem);
}

.dep6-slide-wrap {
    max-width: 26rem;
    margin: 4rem auto;
}

.dep6-slide-wrap .swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 23rem;
    height: 23rem;
    background-color: #9e9e9e;
    margin: auto;
    color: rgba(255, 255, 255, 0.655);
    font-size: 1.4rem;
    border-radius: 1.2rem;
    transform: scale(.85);
}

.dep6-slide-wrap .swiper-slide a .num {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}


.dep6-slide-wrap .swiper-button-next:after,
.dep6-slide-wrap .swiper-button-prev:after {
    display: none;
}

.dep6-slide-wrap .btn-wrap {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.dep6-slide-wrap .swiper-button-next,
.dep6-slide-wrap .swiper-button-prev {
    position: static;
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dep6-slide-wrap .swiper-button-next {
    background-image: url(../img/arr-next.png);
}

.dep6-slide-wrap .swiper-button-prev {
    background-image: url(../img/arr-prev.png);
}


.dep6-slide-wrap .swiper-slide-prev a {
    transform: scale(.85) translateX(50%);
}

.dep6-slide-wrap .swiper-slide-next a {
    transform: scale(.85) translateX(-50%);
}

.dep6-slide-wrap .swiper-slide-active {
    z-index: 5;
}

.dep6-slide-wrap .swiper-slide-active a {
    transform: scale(1);
    background-color: rgb(0, 139, 139);
}

.dep6-slide-wrap .swiper {
    overflow: visible;
}


footer {
    background-color: #f1f1f1;
    position: relative;
}

footer .rel {

    padding: 3rem 2rem;
}

footer h3 {
    font-weight: 800;
    letter-spacing: -.1rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.foot-list {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
}

.foot-list li a {
    background-color:rgba(0, 139, 139, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;

    text-align: center;
}

footer .copy {
    font-size: 1.2rem;

    text-transform: uppercase;
}